@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Fjalla+One&family=Outfit&family=Permanent+Marker&family=Roboto:wght@100;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  color: #9C102A;
}
h4 {
  padding-top: 1.4%;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
body {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  background: url("./texturepaper.jpg") no-repeat;
}
.header-top {
  line-height: 280%;
  transform: rotate(-5deg);
}
i{
  color: rgb(16, 132, 179);
  font-family: "Permanent Marker", cursive;
}
h1{
  color: #9C102A;
  font-family: "Fjalla One", sans-serif;
  font-size: 50px;
}
.image-text{
  position: absolute;
  bottom: 0px;
}
.bottom-center{
  align-self: center;
}
h5{
  font-size: 18px;
  font-weight: 700;
}
.mainn{
  height: 100vh;
  /* overflow: hidden; */
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.upper-part{
 align-items: flex-start; 
}
button{
  background-color: #9C102A;
  color: white;
  padding: 10px 20px;
  border-radius: 11px;
  border: 2px solid black;
}
h3{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
h1>h6{
  font-weight: 200;
  font-size: small;
  font-style: italic;
}
h1>h6>i{
  color: black;
}
.header-next {
  text-align: center;
}
.landingImage{
  max-height: max-content;
  height: 160%;
}
@media screen and (min-width: 500px){
  .mainn{
    align-items: center;
  }
}