*{
    margin: 0;
    padding: 0;
}
.back button{
    background-color: white;
    color: #9C102A;
    padding: 12px;
    border-radius: 8px;
      font-size: 15px;
      border: 1px solid #9C102A;
      box-shadow: 0 0 0 2px #fff
}
.back{
    
    padding: 6%;
    padding-bottom: 63%;
    color: white;
    font-family: 'Gotham Condensed';
    line-height: 200%;
    position: relative;
    isolation: isolate;
    padding-block: 3rem;
    margin-block: 3%;
    color: white;
    text-transform: capitalize;
    height: 35%;
    font-family: 'Gotham Condensed';
    font-size: 25px;

}
.back::after{
    content: '';
    background-color: #9C102A;
    position: absolute;
    inset: 0;
    transform: skewY(-7deg);
    z-index: -1;
}
.back>h1{
    color: white;
}

.ap>h1{
color: white;
line-height: 100%;
}