* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-top {
  text-align: center;
}
.header-top>h1>i{
    font-size: 37px;
}
.next {
    position: relative;
  color: white;
  margin-top: 20%;
  background-color: rgb(143, 20, 20);
  display: flex;
  line-height: 155%;
}
.right {
    position: absolute;
    left: 27%;
  padding-top: 1%;
}

.right button {
  padding: 1.5% 4%;
  background-color: wheat;
  color: black;
  font-size: 18px;
}

#mid {
  padding: 1%;
}
@media screen and (max-width: 500px) {
  .right {
    padding: 2%;
    text-align: center;
  }
  .next {
    width: 450px;
    height: 540px;
  }
}
