@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Fjalla+One&family=Outfit&family=Permanent+Marker&family=Roboto:wght@100;400&display=swap");
.diagonal{
    position: relative;
    isolation: isolate;
    padding-block: 4rem;
    color: white;
    text-transform: capitalize;
   height: 70vh;
    font-family: 'Chakra Petch', sans-serif;
}
.diagonal::after{
    content: '';
    background-color: rgb(173, 25, 25);
    position: absolute;
    inset: 0;
    transform: skewY(-5deg);
    z-index: -1;
}
.message{
    color: white;
}
.message>a>button{
   background-color: white;
   color: #9C102A;
   padding: 12px;
     font-size: 15px;
     border: 1.8px solid #9C102A;
     box-shadow: 0 0 0 4px #fff, 0 0 0 4px #888;
}
.message>h4{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}
