@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Fjalla+One&family=Outfit&family=Permanent+Marker&family=Roboto:wght@100;400&display=swap");
.diagonal{
    position: relative;
    isolation: isolate;
    padding-block: 3rem;
    margin-block: 3%;
    color: white;
    text-transform: capitalize;
    height: 35%;
    font-family: 'Chakra Petch', sans-serif;
}
.diagonal::after{
    content: '';
    background-color: #9C102A;
    position: absolute;
    inset: 0;
    transform: skewY(-7deg);
    z-index: -1;
}
.message{
    color: white;
}
.message>a>button{
   background-color: white;
   color: #9C102A;
   padding: 12px;
   border-radius: 8px;
     font-size: 15px;
     border: 1px solid #9C102A;
     box-shadow: 0 0 0 2px #fff
}
.message>h4{
    font-family: 'Gotham Condensed';
    font-size: 30px;
}
