@import url(https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Outfit&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./components/texturepaper.jpg);
}
.App {
  text-align: center;
}

.first {
  display: flex;
  flex-direction: row;
  position: relative;
}
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first-one {
  position: absolute;
  left: -160px;
  display: flex;
  align-items: center;
  flex-direction: column;
 
}
.first-one>button{
  background-color: #9C102A;
  color:white;
  padding: 2% 4%;
    font-size: 15px;
    border: 1.8px solid #9C102A;
    box-shadow: 0 0 0 3px #ece7e8, 0 0 0 5px #9C102A;
    margin: 2%;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  align-items: flex-end;
  font-size: large;
  max-width: 800px;
  margin: auto;
  right: 20px;
  position: absolute;
}

.header {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
.app-container {
  margin-top: 10px;
}
.head-image {
  position: relative;
}
.text {
  position: absolute;
  top: 0.5%;
  left: 40%;
}
.rule {
  color: gray;
}
@media screen and (max-width: 600px) {
  .header {
    font-size: 17px;
  }
  .text {
    position: absolute;
    top: 0.5%;
    left: 25%;
  }

  .App-intro {
    display: flex;
    justify-content: space-around;
  }
}

.mixers {
  display: flex;
}
.garnish {
  display: flex;
}
.mix {
  color: black;
  font-family: "Chakra Petch", sans-serif;
}
