.target>img{
position: relative;
}
.text-under-image{
    position: absolute;
    color: gray;
    top: 40%;
    left: 16%;
    font-size: 12px;
}
@media screen and (max-width:1200px) {
    .text-under-image{
        top: 29%;
        left: 34%;
        font-size: 9px;
    }
}

